.dashboard-wrapper {
    padding: 30px;
    margin-top: 36.8px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
}


@media only screen and (max-width: 1250px) {
    .dashboard-wrapper {
        padding: 15px;
    }
    .dashboard {
        flex-direction: column;
        gap: 15px;
    }
}