.nav-wrapper {
    width: 100vw;
    background-color: var(--bg-surface);
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    box-shadow: 0px 0px 2px var(--shadow-color);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left .logo {
    font-family: var(--poppins);
    font-weight: 600;
  }
  
  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-right li {
    list-style: none;
  }
  
  .nav-right li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
  }
  
  
  @media only screen and (max-width: 600px) {
    .nav-wrapper {
        padding: 0px 10px;
    }
  }

  @media only screen and (max-width: 360px) {
    .nav-left .logo  {
      font-size: 1.2rem;
    }

    .nav-right li a {
      font-size: 0.9rem;
    }
  }

  
  @media only screen and (max-width: 310px) {
    .nav-left .logo  {
      font-size: 1.2rem;
    }

    .nav-right {
      flex-direction: column;
      gap: 0;
    }

    .nav-right li {
      margin: 5px 0;
    }
  }

