.nav-wrapper {
  width: 100vw;
  background-color: var(--bg-surface);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left .logo {
  font-family: var(--poppins);
  font-weight: 600;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-right li {
  list-style: none;
}

.nav-right li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 500;
}