@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  /* fonts  */
  --poppins: 'Poppins', sans-serif;
  --rubik: 'Rubik', sans-serif;
}

:root {
  --primary-color: #018786;
  --secondary-color: #BB86FC; 
  --third-color: #2196F3;
  --card-hover: #2196f38a;

  --error-bg: #f8d7da;
	--error-color: #ff0000;
  --error-border-color: #f5c6cb;
	
	--success-bg: #d4edda;
	--success-color: #155724;
  --success-border-color: #c3e6cb;
}

:root {
  /* light mode  */
  --bg-color: #f1f1f1;
  --bg-surface: #ffffff;
  --text-color: #424242;
  --shadow-color: rgb(118, 118, 118);
}


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--rubik);
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}


body::-webkit-scrollbar {
  display: none;
}



::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}